<%- include header %>
<body>
<%- include nav2 %>
<div id="ifSearch" class="row" style="display: none;">
    <div class="col-sm-3 col-1"></div>
    <div class="col-sm-6 col-10">
        <form method="post" action="/achievement/search">
            <div class="form-group">
                <label for="search1">活動名稱：</label>
                <input type="text" class="form-control" name="name" id="search1" >
            </div>
            <div class="form-group">
                <label for="search2">執行團隊：</label>
                <input type="text" class="form-control" name="team" id="search2">
            </div>
            <div class="form-group">
                <label for="search3">活動地名：</label>
                <input type="text" class="form-control" name="place_name" id="search3">
            </div>
            <div class="form-group">
                <label for="search3">活動地址：</label>
                <input type="text" class="form-control" name="place_addr" id="search3">
            </div>
            <div class="form-group">
                <label for="search4">活動開始日期(起)：</label>
                <input type="date" class="form-control" name="act_b_start" id="search4" />
                <label for="search5">活動開始日期(迄)：</label>
                <input type="date" class="form-control" name="act_b_end" id="search5" />
            </div>
            <div class="form-group">
                <label for="search6">活動結束日期(起)：</label>
                <input type="date" class="form-control" name="act_e_start" id="search6" />
                <label for="search7">活動結束日期(迄)：</label>
                <input type="date" class="form-control" name="act_e_end" id="search7" />
            </div>
            <div class="col-12">
                <input id="searchBtn" class="btn btn-block def-btn btn-primary" style="margin-bottom: 10px;" type="submit" value="查詢" />
            </div>
            <div class="col-12">
                <input id="goMapBtn" class="btn btn-block btn-warning" type="button" value="返回" />
            </div>
        </form>
        
        <!-- <div id="search" class="row" style="display: none;">
            <div class="col-sm-6 col-12">
                <input id="searchBtn" class="btn btn-block def-btn" style="margin-bottom: 10px;" type="button" value="查詢" />
                <input id="continueSearchBtn" class="btn btn-block def-btn" type="button" value="繼續查詢" style="margin-top: 0px;" />
            </div>
            <div class="col-sm-6 col-12">
                <input id="goMapBtn" class="btn btn-block" type="button" value="返回" />
            </div>
        </div>       -->
    </div>
    <div class="col-sm-3 col-1"></div>
</div>
<div id="switchIfSearch" class="row">
    <input id="switchIfSearchBtn" class="btn btn-block btn-primary" type="button" value="條件查詢" />
</div>
<div id="map"></div>
<style>
    body {
        font-style: '微軟正黑體'
    }
</style>
<script>
    const data = <%- docs %>;

    $('#switchIfSearchBtn').click(() => {
        $('#map').hide();
        $('#ifSearch').show();
        $('#switchIfSearch').hide();
        $('#search').show();
        $('#continueSearchBtn').hide();
        $('#searchBtn').show();
    });
    
    $('#goMapBtn').click(() => {
        $('#map').show();
        $('#ifSearch').hide();
        $('#search').hide();
        $('#switchIfSearch').show();
        $('#achiTableDiv').hide();
    });

    $('#continueSearchBtn').click(() => {
        $('#map').hide();
        $('#ifSearch').show();
        $('#switchIfSearch').hide();
        $('#search').show();
        $('#searchBtn').show();
        $('#achiTableDiv').hide();
        $('#continueSearchBtn').hide()
    });
</script>

<script>
    var map;
    var result = <%- docs %>
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 23.7031129, lng: 120.4279623},
        zoom: 9
        });

        result.forEach((doc, i) => {
            if(doc.teamLogo)
                var image = {
                    url: doc.teamLogo,
                    // This marker is 20 pixels wide by 32 pixels high.
                    size: new google.maps.Size(40, 40),      //顯示圖片大小
                    origin: new google.maps.Point(0, 0),     //起始位置，通常為0
                    anchor: new google.maps.Point(19, 40),   //移動marker 數字越大往右和往上移動
                    scaledSize: new google.maps.Size(40, 40) //圖片實際大小，通常與size一樣大小
                };
            else
                var image = {
                    url: '/images/nfu_icon.png',
                    // This marker is 20 pixels wide by 32 pixels high.
                    size: new google.maps.Size(40, 40),      //顯示圖片大小
                    origin: new google.maps.Point(0, 0),     //起始位置，通常為0
                    anchor: new google.maps.Point(19, 40),   //移動marker 數字越大往右和往上移動
                    scaledSize: new google.maps.Size(40, 40) //圖片實際大小，通常與size一樣大小
                };
            var uluru = {lat: doc.ACT_LOCATION.LOCATION_LAT, lng: doc.ACT_LOCATION.LOCATION_LNG};
            var marker = new google.maps.Marker({
                position: uluru, 
                map: map, 
                icon: image,
                animation: google.maps.Animation.DROP
            });
            var contentString = '<div id="content" class="contentDIV">'+
                '<div id="siteNotice">'+ 
                '</div>'+
                '<h3 id="firstHeading" class="firstHeading"><a href="/achievement/2/' + result[i]._id + '">' +
                result[i].ACT_NAME + '</a></h3><p class="mapCotent">' + result[i].ACHI_STORE + '</p></div>';
            

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            marker.addListener('mouseover', function() {
                infowindow.open(map, marker);
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
                setTimeout(function () { infowindow.close(); }, 3000);
            });

            marker.addListener('mouseout', function() {
                setTimeout(function () { infowindow.close(); }, 3000);
            });
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6MrbT0cNZgeYP3JUP4R2U-WZDbWVzWM8&callback=initMap"
    async defer></script>
<style>
    #map {
        height: 500px;
    }
    .mapCotent {
        height: 50px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    @media only screen and (max-width: 768px) {
        #map {
            height: 700px;
        }

        .def_btn {
            margin-bottom: 10px;
        }

        .contentDIV {
            width: 300px;
            height: 150px;
        }
    }
</style>
<%- include newfooter %>
</body>