<%- include header %>

    <head>
        <link rel="stylesheet" href="/achievement/assets/css/main.css" />
    </head>
    <body>
        <%- include nav2 %>
            <!-- Banner -->
            <section class="banner full">
                <article>
                    <img src="/achievement/images/word.jpg" alt="" />
                    <div class="inner">
                        <header>
                            <p style="font-size:300%;"><%= doc.TEAM_NAME %> </p>
                        </header>
                    </div>
                </article>
                <% doc.ACHI_IMG.forEach((img, index) => { %>
                    <article>
                        <img src="<%= img.URL %>" alt="" />
                    </article>
                <% }); %>
            </section>
            <section id="three" class="wrapper style2">
                <div class="inner">
                    <div class="our-team-w3l">
                        <div class="our-team-w3l-info text-center">
                            <p style="font-size:300%;">活動敘述</p>
                            <label></label>
                        </div>
                        <h2 align="left">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%- doc.ACHI_STORE %></h2>
                        <label></label>
                    </div>
            </section>
            <section id="two" class="wrapper style2" style="background-color: rgb(255, 255, 255)">
                <div class="our-team-w3l">
                    <div class="our-team-w3l-info text-center">
                        <p style="font-size:300%;">團隊成員</p>
                        <label></label>
                    </div>
                    <div class="our-team-w3l-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-3 team-info">

                                    <img src="/achievement/images/ang.jpg" alt="...">
                                    <div class="caption">
                                        <h3>Ang Lee</h3>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. </p>

                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3 team-info">
                                    <div class="thumbnail">
                                        <img src="/achievement/images/ang.jpg" alt="...">
                                        <div class="caption">
                                            <h3>Ang Lee</h3>
                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3 team-info">
                                    <div class="thumbnail">
                                        <img src="/achievement/images/ang.jpg" alt="...">
                                        <div class="caption">
                                            <h3>Ang Lee</h3>
                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. </p>

                                        </div>
                                        <!-- <div class="our-team-w3l-icons">
                                    <ul>
                                        <li><a href="#" class="icon1"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#" class="icon2"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#" class="icon3"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div> -->
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3 team-info">
                                    <div class="thumbnail">
                                        <img src="/achievement/images/ang.jpg" alt="...">
                                        <div class="caption">
                                            <h3>Ang Lee</h3>
                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. </p>

                                        </div>
                                        <!-- <div class="our-team-w3l-icons">
                                    <ul>
                                        <li><a href="#" class="icon1"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#" class="icon2"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#" class="icon3"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div> -->
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- One -->
            <!-- <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="images/pic02.jpg" alt="" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>maecenas sapien feugiat ex purus</p>
                                <h2>Lorem ipsum dolor</h2>
                            </header>
                            <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Learn More</a>
                            </footer>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="images/pic03.jpg" alt="" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p>mattis elementum sapien pretium tellus</p>
                                <h2>Vestibulum sit amet</h2>
                            </header>
                            <p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
                            <footer class="align-center">
                                <a href="#" class="button alt">Learn More</a>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> -->
            <!-- Two -->
            <!-- <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
                <h2>Morbi maximus justo</h2>
            </header>
        </div>
    </section> -->

            <!-- Footer -->
            <!-- Scripts -->
            <script src="/achievement/assets/js/jquery.min.js"></script>
            <script src="/achievement/assets/js/jquery.scrollex.min.js"></script>
            <script src="/achievement/assets/js/skel.min.js"></script>
            <script src="/achievement/assets/js/util.js"></script>
            <script src="/achievement/assets/js/main.js"></script>


    </body>
    <%- include footer %>