<%- include header %>
<%- include nav2 %>
<% posts.forEach(function(post, index) {%>
<p>
	<h2>
		<a href="/activity/<%= post.title %>/<%= post.time %>"><%= post.title %></a>
	</h2>
	<h5><%= post.time %></h5>
	<h4>
		<%- post.content.substr(0,30) %>
	</h4>
</p>
<% }) %>
<%- include paging %>
<%- include footer %>