<%- include header %>
<br />
<div class="row">
	<div class="col-3">
		<%- include admin_c_dropdown %>
	</div>
	<div class="col-9 row">
		<%- include features %>
		<%- include back %>
		<br />
		<%- include activityManagePage %>
		<%- include activityManageNewPage %>
		<%- include activityManageEditPage %>
	</div>
</div>
<script>
	var nowID = null;
	for(let i = 0 ; i < <%= actPosts.length %> ; i++)
		$('#select' + i).click(() => {
			if(nowID == null) {
				nowID = $('#select' + i)[0].id;
				$('#' + nowID).prop("checked", true);
			}
			else {
				if(nowID == $('#select' + i)[0].id){
					$('#' + nowID).prop("checked", false);
					nowID = null;
				}else {
					$('#' + nowID).prop("checked", false);
					nowID = $('#select' + i)[0].id;
					$('#' + nowID).prop("checked", true);
				}
				
			}
		})

	$('#delete').click(() => {
		if(nowID == null){
			alert('尚未選取貼文');
			return;
		}
			
		let data =  $('#' + nowID).val();
		$('#' + nowID).parent('th').parent('tr').remove();
		$.post('/activity/delete', { data: data } , (result) => {
			if(result == 'success'){
				console.log('success')
				location.reload()
			}
			else{
				console.log('error');
				alert('資料庫模組錯誤');
			}
		})
	})

	$('#update').click(() => {
		if(nowID == null){
			alert('尚未選取貼文');
			return;
		}
		let data =  $('#' + nowID).val();
		$('#managePage').hide();
		$('#features').hide();
		$('#newPage').hide();
		$('#backDIV').show();
		$('#editPage').show();
		$.post('/activity/get', { data: data }, (result) => {
			console.log(result);
			$('#editID').val(result._id);
			$('#editTitle').val(result.title);
			$('#editApply').val(result.apply);
			$('#editFee').val(result.fee);
			$('#editDate').val(result.date);
			$('#editLimit').val(result.limit);
			$('#editPlace').val(result.place);
			$('#editTarget').val(result.target);
			$('#editTeam').val(result.teams);
			$('#editUrl').val(result.url);
			$(document.getElementsByTagName('iframe')[1].contentWindow.document.body).html(result.content)
		});
	})

	$('#new').click(() => {
		$('#managePage').hide();
		$('#features').hide();
		$('#newPage').show();
		$('#backDIV').show();

	})

	$('#backBtn').click(() => {
		$('#backDIV').hide();
		$('#features').show();
		$('#newPage').hide();
		$('#editPage').hide();
		$('#managePage').show();
		$('.myInput').val('');
		$(document.getElementsByTagName('iframe')[0].contentWindow.document.body).html('')
	});
</script>

<style>
	input#selectAll {
		padding-right: 10px;
		margin-top: 12px;
	}

	div.newForm {
		width: 100%;
	}
</style>
