<%- include header %>

<div class="row">
    <% if(user) { %>
        <div id="backDIV" class="col-9 row">
            <div class="col-2">
                <button id="backBtn" class="btn btn-primary btn-danger">回上頁</button>
            </div>
        </div>
    <% } %>
</div>
<br />
<div class="row">
    <div class="col-12" style="text-align: center;">
        <nav class="navbar navbar-light bg-primary">
            <span class="postTitle"><%= post.title %></span>
        </nav>
    </div>
    <div class="col-3">
        <div class="card" style="width: 100%;">
            <div class="card-header postTitle2">
                活動關於
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">發文日期: <%= new Date(post.time).toLocaleDateString() %></li>
                <li class="list-group-item">活動地點: <%= post.place %></li>
                <li class="list-group-item">活動對象: <%= post.target %></li>
                <li class="list-group-item">活動性別限制: <%= post.sex %></li>
                <li class="list-group-item">活動費用: 
                    <% if(post.fee == 0) {%>
                        免費
                    <% } else { %>
                        <%= post.fee %>
                    <% } %>
                </li>
                <li class="list-group-item">報名人數上限: <%= post.limit %>人</li>
                <li class="list-group-item">目前報名人數: 0人</li>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <div class="card" style="width: 100%;">
            <div class="card-header postTitle3">
                活動內容
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">相關連結: <%= post.url %></li>
                <li class="list-group-item">活動內容: <%- post.content %></li>
                <li class="list-group-item">報名頁面: 
                    <a href="<%= post.apply %>">
                        <button class="btn btn-danger">前往報名</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 100%;">
            <div class="card-header postTitle4">
                聯絡方式
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">聯絡人: <%= team.connection.name[0] %>同學</li>
                <li class="list-group-item">連絡電話: 0<%= team.connection.phone %></li>
                <li class="list-group-item">聯絡信箱: <%= team.connection.email %></li>
            </ul>
        </div>
    </div>
</div>
<%- include footer %>

<script>
    $('#backBtn').click(() => {
        location.href = '/activityManage'
    })
</script>
<style>
    span.postTitle {
        font-size: 28px;
        color: white;
    }

    div.postTitle2 {
        font-size: 20px;
        color: #31708f;
        text-align: center;
        background-color: #bce8f1;
    }

    div.postTitle3 {
        font-size: 20px;
        color: #3c763d;
        text-align: center;
        background-color: #dff0d8;
    }

    div.postTitle4 {
        font-size: 20px;
        color: #8a6d3b;
        text-align: center;
        background-color: #fcf8e3;
    }
</style>