<%- include header %>
<%- include nav2 %>
<%- include to_Top %>
<div class="row mb-2">
		<div class="col-md-12">
			<div class="card flex-md-row mb-4 box-shadow">
				<div class="card-body d-flex flex-column align-items-start">
					<div class="col-12">	
						<div class="col-md-12">
							<div class="col-12">
								<div class="txt_family">
								
								<div class="team_txt">
								<p><div class="title_txt">標題：<%= post.title %></div></p>
								<br>
								
								<span><div class="title_txt">內容：</div><br><%- post.content %><br /></span>
								<br />
								<span>日期：<%= new Date(post.time).toLocaleDateString() %></span><br />
								<br>
								
								<span>閱讀： <%= post.pv %></span><br />
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 <br />
<br />
<%- include footer %>