<%- include header %>
<body>
	<%- include nav2 %>
	
	<div class="container">
	<div class="row" style="margin-top: 5%">
	<table class="table table-responsive-sm text-nowrap table-bordered col-12" >
			<thead>
			  <tr>
				<th scope="col">活動日期</th>
				<th scope="col">活動名稱</th>
			  </tr>
			</thead>		
			<% posts.forEach(function(post, index) {%>
					
				<tbody>
						<tr>
						  <th scope="row">[<%= new Date(post.ACT_C_AT).toLocaleDateString() %>]</th>
						  <td><a href="/activity/<%= post._id %>"><%- post.ACT_SUBJ_NAME  %>&nbsp</a><span class="badge badge-secondary">New</span></td>
						</tr>
							
						</tbody>
						
			<% }) %>
	</table>
	</div>
	</div>

					
	
	
</body>

<%- include paging %>
<%- include footer %>