<%- include header %>
    <%- include nav2 %>
        <br>
        <%- include icon_G %>
        <%- include to_top %>
        <div class="col-12 txt_s">
            <img src="/images/Act.png" style="width: auto;height: 50px;display:block; margin:auto;">
          <br><hr><br><br>
        </div>

        <div class="col-12">
            <%- include img_bar %>
        </div>
<%- include footer %>
</body>