<% include header %>
<% include nav2 %>
<br />
<div class="row">
	<div class="col-3">
		<% include admin_c_dropdown %>
	</div>
	<div class="col-8">
		<form method="post">
			自然名:
            <label><%= leader.nick %></label>
            <input type="hidden" value="<%= leader.nick %>" name="nick">
            <br /> 名字:
            <input type="text" name="name" value="<%= leader.name %>">
            <br /> 稱謂:
            <input type="text" name="title" value="<%= leader.title %>">
            <br /> 電話:
            <input type="text" name="phone" value="<%= leader.phone %>">
            <br /> 信箱:
            <input type="email" name="email" value="<%= leader.email %>">
            <br /> 大頭照(url):
            <input type="text" name="headImg" value="<%= leader.headImg %>">
            <br />
            <input type="submit" name="更新" />
		</form>
	</div>
</div>
