<%- include header %>
<br />
<div class="row">
	<div class="col-3">
		<%- include admin_c_dropdown %>
	</div>
	<div class="col-9 row">
		<%- include features %>
		<%- include back %>
		<br />
		<%- include teamManagePage %>
	</div>
</div>
<script>
	var a = [];
	$('#search').click(() => {
		$.post('/leaderSearch', { nick: $('#slt_1').val() }, (result) => {
			result.teams.forEach((team, index) => {
				$('#fortable').append(``);
			});
		});
		let slt_1 = $('#slt_1').text().trim();
		let slt_1Val = $('#slt_1').val();
		$('#leader').val(slt_1);
		$('#leaderName').val(slt_1Val);
		$('#leaderNick').val(slt_1Val);
	});

	$(document).on('click', '#createBtn', () => {
		$('.bg').css({'display':'block'});
		$('.bg').css({'background': 'white'});
        $('.content').css({'display':'block'});
	});

	$('.bg').click(function(){
        $('.bg').css({'display':'none'});
        $('.content').css({'display':'none'});
    });

    $('.closebg').click(() => {
    	$('.bg').css({'display':'none'});
        $('.content').css({'display':'none'});
    })
</script>

<%- include footer %>