<%- include header %>
<%- include to_Top %>
    <link href="/newachievement/carousel.css" rel="stylesheet">
  <body>
        <%- include nav2 %>

<br>
<br>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2>第三次東仁國中童軍社社課 </h2>
            <br>
            <p class="lead" >教導東仁國中學生各項童軍技能包含::繩結、通訊、急救、包紮、生火、野炊、方位、估測、植物辨識、野外求生、營火搭設、器材保養表演:香舞、蛇舞、旗舞、各種動跳。</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto logosize" src="/newachievement/img/logo.jpeg" alt="Generic placeholder image" >
          </div>
        </div>


        <hr class="featurette-divider">

<div style="font-size: 200%;text-align:center;">成果心得分享</div><br>

          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                <div class="container">
                <div class="row">
                    <div class="col-md-10 col-6">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    第一次
                  </button>
                </div>
                <div class="col-md-2 col-6 auther">
                        作者:陳膺祿
                </div>
                  </div>
                  </div>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <img class="d-block w-100" src="/newachievement/img/p4.jpg" >
                    <%- include two_blank %>這次是我第一次參加東仁國中的夏令營，也是第一次帶中學生，畢竟帶小學生和高中生不太一樣，所以在參加前就一直在想國中生到底好不好帶，會不會冷場很冷漠之類的，帶不嗨氣氛這個冬令營就等於是失敗了。
                    而我和另一個人負責一個小隊，雖然女生居多，但還是一瞬間就是跟男生比較熟悉，而我卻是第一天第一個活動帶動跳和第二天闖關的負責人，帶動跳因為是第一個活動所以氣氛很僵，剛開始只有幾個會配合一起跳，不過隨著時間一點一滴過去，氣氛越來越好也就變的比較多人開始跟著跳，以至於沒有冷場，到中午的時候很驚訝，原本不熟悉的一群小學生，到中午吃飽飯完很多學生卻纏著你，有些會硬拖著你走來走去不放手，有些也會追著你跑來跑去，而我也終於體會到小學生的恐怖，在不認識之前一臉乖乖樣，到認識之後每個都像發瘋的人，不過他們的言辭卻是讓我極度訝異，三字經或是粗魯的話語接二連三的爆出口，而捏人的手勁也是極為強大，不過我知道他們都是為了跟我們這些大哥哥大姊姊們玩，所以就不太在意，而到晚上是住民宿，一進去每個人都是讚嘆阿，比想像中要住的好很多，在睡前一推人在同一間房間討論今天發生得事情以及趣事，聊完就一群人打地舖聊天聊到睡著，這種感覺真的很好，不過唯一缺點就是要早起，每個人都不太想爬起來，除了幾個人之外，在吃早餐過程老闆不怕不夠吃，只怕你們吃不飽的心態，讓我們覺得老闆很熱情的款待我們，然而第二天剛開始也是如同昨天一樣，大家已經都有一定的熟悉度，所以帶活動幾乎不再有冷場的問題，而在團康活動的時候，玩到煮火鍋的時候每個隊輔包括我在內都休息不得，因為每個學生一定會點你起來跑，所以不會有休息的時間，只能跟著一直跑一直跑，是最累人的一個遊戲，另外還有一個是踩氣球，參雜幾個小隊輔下去玩，不過由於學生團結力量大，所以通常小隊輔會很快的下場，而場上卻是少不了尖叫聲，不過在快樂之於有幾個人卻因為身體不適而不能玩，這是比較可惜的。
                    而在在接近尾聲的時候，我得知這可能是最後一次到此國中辦這個活動卻有點可惜，以這些小朋友的活力卻會讓人想再來一次，跟著一起同歡，所以到放人的時候卻有種不捨的感覺，而學生也是一直問下次是不是我們會再來，看著他們期待的問卻只能跟他們說下次不一定會再來，但如果再來這間我一定會參加的這個答案，而在這一次也讓我學到許多經驗和難忘的記憶，如果下次還要到別所學校舉辦夏令營，我會義不容辭地參加此活動
            </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                            <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-6">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                心路歷程
                              </button>
                            </div>
                            <div class="col-md-2 col-6 auther">
                                    作者:陳膺祿
                            </div>
                              </div>
                              </div>
                            </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                        <img class="d-block w-100" src="/newachievement/img/p5.jpg" >
                        <%- include two_blank %>在我大一加入童軍社時，在偏遠小學辦理資訊相關的營隊。那時候是剛進大學的大一新鮮人，還記得學長姐們第一次要我負責上一節課的時候，心裡是多麼忐忑。除了本身是個慢熟、悶燒、害羞內向的人之外，要一個人hold住整整四十分鐘的場面，對當時連系上10分鐘的報告都要抱持必死的心理準備的我來說，可想而知這件事就是心裡的一塊超大石頭。終於迎來了上台教課的當天，緊張不安的我，踏上講台開始講話，手拿麥克風的手抖得異常厲害。但一分鐘之後，我什麼害怕、恐懼、不安都感覺不到了，才發現自己其實能和台下的小朋友們十分自然地互動!!!我突然意識到，面對年紀這麼小、幾乎不懂世事的孩子們，我根本不用擔心自己在台上犯錯、犯蠢、犯傻，只要能回應台下孩子們的要求、問題，只要有把想要傳達的事確實地傳達給他們就夠了。在豁然開朗之後，每一次的出隊不再是種壓力，到現在也變成大三老人了，對於資訊志工我們已經處理得十分得心應手，除了能以最短時間創造最大產出:例如課程規劃、事前籌備，也對與小朋友的相處很有一套，我想這些都是資訊志工帶給我最大的收穫吧，在未來一年我將會繼續累積經驗，繼續帶給這些孩子們不同於傳統義務教育的東西!!
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                            <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-6">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            觀察後的反思
                              </button>
                            </div>
                            <div class="col-md-2 col-6 auther">
                                    作者:陳膺祿
                            </div>
                              </div>
                              </div>
                            </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        <img class="d-block w-100" src="/newachievement/img/p4.jpg" >
                        <%- include two_blank %>第一次接觸日新時，陌生的臉孔、認知、默契及思維，似乎又要重新來過一次了。這次的對象是位於鹿港福興鄉的日新國小，當黃主任帶我們參觀他們的現有的教室及設備時，其實他們能運用的資訊課程很多，電腦教室擁有２８台電腦、２８支耳機、２８台手繪板、３２台平板及一台３Ｄ列印機等等設備，但有曾想過這些配備他們能使用的次數是多少呢？而他們又是如何使用的呢？ 　　這一系列的課程中，最有趣的可程應該是Jota&Joti這門課程不只讓學生如何使用攝像頭，更是融入國際間溝通的理念。Jota&Joti的活動是一種屬於全世界的活動，而上圖是日新國小初次使用攝像頭與馬來西亞的學生做近距離的互動溝通體驗，雖然看到他們對於語言溝通有著害怕及恐懼，但是他們利用自己的所學一步一步地靠近，或許時間並不長，但他們學習到了很多事情。 　　第一次與日新國小的體驗雖然並不是非常順利，還需要更多的時間與他們建立新的默契，可能與他們見面的時間不多，但我相信經過這一連串的活動後，他們會學到比以前有更多的東西。
                </div>
              </div>
            </div>
          </div>
          <hr class="featurette-divider">

          <div style="font-size: 200%;text-align:center;">成果照片分享</div><br>

          
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/newachievement/img/p1.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/newachievement/img/p2.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/newachievement/img/p3.jpg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
 

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script> -->
    <script src="/newachievement/js/popper.min.js"></script>
    <!-- <script src="../../../../dist/js/bootstrap.min.js"></script> -->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/newachievement/js/holder.min.js"></script>
    <style>
        .logosize {

        width: 500px;
        height: 500px;

        }
        @media screen and (max-width: 480px) {

        .logosize {

        width: 200px;
        height: 200px;
        display: block;
        margin:auto;

        }

        }

        @media screen and (max-width: 768px) {

        .logosize {

        width: 200px;
        height: 200px;
        display: block;
        margin:auto;

        }

        }

        @media screen and (min-width: 768px) and (max-width: 992px) {

        .logosize {

        width: 200px;
        height: 200px;
        display: block;
        margin:auto;

        }

        }

</style>
  </body>

  <%- include newfooter %>
