<%- include header %>
	<link rel="stylesheet" href="/newindex/assets/css/main.css" />
	<link rel="stylesheet" href="/newindex/assets/css/word.css">
	<%- include to_Top %>
	<body class="landing is-preload">
		<%- include nav2 %>
		<div id="page-wrapper">
			<section id="banner">
				<h2>USR</h2>
				<p>「一個偉大的城市應該要有一所偉大的大學！」</p>
			</section>

			<!-- Main -->
				<section id="main" class="container">
					<section class="box special">
						<header class="major">
							<h2>大學社會責任計畫</h2>
							<p>大學社會責任實踐計畫（簡稱 USR 計畫）希望帶動大學落實社會責任，由學校的老師帶領學生去發掘區域內的問題，擬定解決方案再結合在地力量去協助解決，讓大學生在過程中可充分運用自身所學的專業，來參與並服務區域，讓各區域居民都能感到大學存在的實質意義，並透過由大學來帶動城鄉發展、促進文化振興、再造社區風華，創造在地價值。
									</p>
						</header>
						<!-- <span class="image featured"><img src="images/pic01.jpg" alt="" /></span> -->
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
                                <!-- <span class="icon major fa-bolt accent2"></span> -->
                                <a href="/aboutUs"><img src="/newindex/images/web.png" alt="" width="30%"></a>
								<h3>平台介紹</h3>
							</section>
							<section>
                                <!-- <span class="icon major fa-area-chart accent3"></span> -->
                                <a href="/activity"><img src="/newindex/images/msn.png" alt="" width="30%"></a>
								<h3>最新活動</h3>
								</section>
						</div>
						<div class="features-row">
							<section>
                                <!-- <span class="icon major fa-cloud accent4"></span> -->
                                <a href="/team"><img src="/newindex/images/team.png" alt="" width="30%"></a>
								<h3>研究團隊</h3>
							</section>
							<section>
                                <!-- <span class="icon major fa-lock accent5"></span> -->
                                <a href="/achievement"><img src="/newindex/images/share.png" alt="" width="30%"></a>
								<h3>成果分享</h3>
							</section>
                        </div>
					</section>
						<!-- <%- include img_bar %> -->
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
								  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
								  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
								  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner">
								  <div class="carousel-item active">
									<a style="color: white" href="*" title="虎科志工"><img class="d-block w-100" src="/newindex/images/p10.jpg" alt="First slide" width="1200" height="800"></a>
									<div class="carousel-caption d-none d-md-block">
											<div class="wordsize"><h1 style="color: white">虎科志工</h1></div>
											<p class="word">照片故事：
													寒假兩次的兒童營,讓我知道當老師EQ要高之外,還要準備很多東西,不然一不小心就被問倒了。
													
													
													在同仁教學的過程中,出現了很厲害的小朋友,我相信我永遠不會忘記他,照片裡的喵都是她畫的,一個只有線條,一個有上色,完全超出了我的預期。
													
													在這次的教學中,我學到了小朋友們每個資質都不相同,有些小孩做得很快,有些
													小孩學得很慢,需要耐心的一對一教學,有學小孩覺得題目很難,有些覺得很簡單,需要因材施教,才能將每位小朋友的潛力激發出來。
													</p>
									</div>
								  </div>
								  <div class="carousel-item">
									<img class="d-block w-100" src="/newindex/images/p2.jpg" alt="Second slide" width="1200" height="800">
								  </div>
								  <div class="carousel-item">
									<img class="d-block w-100" src="/newindex/images/p3.jpg" alt="Third slide" width="1200" height="800">
								  </div>
								</div>
								<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
								  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
								  <span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
								  <span class="carousel-control-next-icon" aria-hidden="true"></span>
								  <span class="sr-only">Next</span>
								</a>
							  </div>	
                	
			<script src="/newindex/assets/js/jquery.min.js"></script>
			<script src="/newindex/assets/js/jquery.dropotron.min.js"></script>
			<script src="/newindex/assets/js/jquery.scrollex.min.js"></script>
			<script src="/newindex/assets/js/browser.min.js"></script>
			<script src="/newindex/assets/js/breakpoints.min.js"></script>
			<script src="/newindex/assets/js/util.js"></script>
			<script src="/newindex/assets/js/main.js"></script>
			<!-- <script src="/newindex/assets/js/title.js"></script> -->
		
	</body>
</html>
<%- include footer %>