<%- include header %>
<%- include nav2 %>
 

<br>

 <div class="row mb-2">

        <div class="col-md-3">

        	<div id="menu">

        		<div class="main">團隊一
              <div class="sub">
                <ul>
                  <li><a href="#">服務區域1</a></li>
                  <li><a href="#">服務區域2</a></li>
                </ul>
              </div>
            </div>
            
            <div class="main">團隊二
              <div class="sub">
                <ul>
                  <li>服務區域1</li>
                  <li>服務區域2</li>
                </ul>
              </div>
            </div>


        			
        		
        	</div>
   		</div>


        	

<% teams.forEach(function(team, index) {%>
        <div class="col-md-9">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <h2><strong class="d-inline-block mb-2 text-success"><a href="/team/<%= team.name %>"><%= team.name %></a></strong></h2>           
              <p class="card-text mb-auto">服務宗旨:<%= team.purpose %></p>
            </div>
          </div>
        </div>
  </div>
<% }) %>
<%- include paging %>
  <%- include footer %>



