<%- include header %>
<%- include nav2 %>
<h1><%= teams.name %></h1>
<h3>領隊人: <%= leader %></h3>
<p>團隊服務宗旨: <%= teams.purpose %></p>
<span>團隊介紹: <%- teams.introduction %></span><br />
<span>團隊專業介紹: <%- teams.pro_introduction %></span><br />
<span>團隊網站: <%= teams.website %></span><br />
<span>團隊聯絡方式: </span><br />
<span>聯絡人: <%= teams.connection.name %></span><br />
<span>聯絡人電話: 0<%= teams.connection.phone %></span><br />
<span>聯絡人信箱: <%= teams.connection.email %></span><br />
<span>點擊數: <%= teams.pv %></span>
<%- include footer %>