<link rel="stylesheet" href="/newteam/word.css">
<div class="container ">
  <div class="teamdiv">
    <div class="row">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
  <div class="col-md-3 mb-4">
    <div class=" h-md-250">
      <a href="/team/<%= team.name %>">
        <div class="card-body d-flex flex-column align-items-start T_D_link"> 
          <br>
            <img src="<%= team.teamLogo %>" alt="" class="img-responsive"  style="margin:auto;">
         </div>
       </a> 
      </div>
  </div>

  <div class="col-md-9">
      
        <div class="card-body d-flex flex-column align-items-start teamList_txt">
          <strong class="d-inline-block mb-2 text-success teamList_txt"><a href="/team/<%= team._id %>"><div style="font-size: 150%"><%= team.name %></div></a></strong>
          <Txt class="card-text mb-auto text-align:center word">服務宗旨: <%- team.purpose %></Txt>
        </div>
      </div>
    </div>
 </div>
</div>
</div>  
 