<%- include header %><%- include nav2 %>
	<br>
	<div class="row mb-2">
		<div class="col-md-3">
			<%- include admin_c_dropdown %>			
		</div>
		<div class="col-md-9">
          <div class="card flex-md-row mb-4 box-shadow">
            <div class="card-body d-flex flex-column align-items-start">
            	<div class="col-12">
				<form method="post">
					團隊名稱: <input type="text" name="name" /><br />
					團隊負責人: <label><%= leader %><input type="hidden" name="leader" value="<%= leader %>"/></label><br/>
					團隊服務宗旨: <textarea name="purpose" ></textarea><br />	
					團隊專業:<br />
					<textarea style="width: 100%" name="pro_introduction"></textarea><br />
					團隊介紹: <br /> 
					<textarea name="introduction" rows="20" cols="100"></textarea><br />
					團隊網站:
					<input type="text" name="website" /><br />
					聯絡方式:<br />
					聯絡人姓名:<input type="text" name="conecntName" /><br />
					聯絡電話:<input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" name="phone"><br />
					聯絡信箱:<input type="email" name="email" /><br />
					<input type="submit" name="新增" />
				</form>
				</div>
				</div>
				</div>
			</div>
		</div>

<%- include footer %>



